<%= form_for(@movie) do |movie_form| %>

<p>
<%= movie_form.label :title %> <br/>
<%= movie_form.text_field :title, autofocus: true %>
</p>

<p>
  <%= movie_form.label :description %> <br/>
  <%= movie_form.text_area :description, cols:40, rows:7 %>
</p>
<p>
  <%= movie_form.label :rating %><br/>
  <%= movie_form.text_field :rating, size:5 %>
</p>
<p>
  <%= movie_form.label :released_on %><br/>
  <%= movie_form.date_field :released_on %>
</p>
<p>
  <%= movie_form.label :total_gross %><br/>
  <%= movie_form.text_field :total_gross %>
</p>
<p>
<%= movie_form.label :image_file_name %> <br/>
<%= movie_form.text_field :image_file_name %>
</p>

<p>
<%= movie_form.label :cast %> <br/>
<%= movie_form.text_field :cast %>
</p><p>
<%= movie_form.label :director %> <br/>
<%= movie_form.text_field :director %>
</p><p>
<%= movie_form.label :duration %> <br/>
<%= movie_form.text_field :duration %>
</p>

<p>
    <%= movie_form.submit %>
    <%= link_to "Cancel", movies_path %>
</p>

<% end %>


</p>
