<h1> <%= pluralize(@movies.size, 'Movie') %> </h1>

<% @movies.each do |m| %>

<article>
  <h1><%= m.title %> </h1>
   <table>
     <tr>
       <td>Release Date:</td>
       <td><%= m.released_on %> (<%= time_ago_in_words(m.released_on) %> ago)</td>
     </tr>
     <tr>
       <td>Rating:</td>
       <td>(<%= m.rating %>)</td>
      </tr>
      <tr>
        <td>Total Gross:</td>
        <td><%= format_total_gross(m) %></td>
       </tr>
       <tr>
         <td>Description:</td>
         <td><%= truncate(m.description, length: 40, separator: ' ') %> </td>
       </tr>

    </table>
   </article>
<% end %>
</ul>
