<article>
  <h1><%= @movie.title %> </h1>
   <table>
     <tr>
       <td>Release Date:</td>
       <td><%= @movie.released_on %> (<%= time_ago_in_words(@movie.released_on) %> ago)</td>
     </tr>
     <tr>
       <td>Rating:</td>
       <td>(<%= @movie.rating %>)</td>
      </tr>
      <tr>
        <td>Total Gross:</td>
        <td><%= format_total_gross(@movie) %></td>
       </tr>
       <tr>
         <td>Description:</td>
         <td><%= @movie.description %> </td>
       </tr>

    </table>
   </article>
